body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Neue Haas Grotesk'
    sans-serif; font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Neue Haas Grotesk',
    sans-serif; font-size: 24px;
}
